.nhan-xet-link {
    color: #6c63ff;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
  
    span {
      font-size: 14px;
      margin-left: 4px;
    }
  
    &:hover {
      text-decoration: underline;
      color: #3f3dc1;
    }
  }
  