<div class="dashboard-content">
  <h2>DANH SÁCH CÁC CƠ SỞ</h2>
  <div class="campus-header">
    <button class="add-campus-button" (click)="openAddCampusModal()">
      Thêm cơ sở
    </button>
  </div>

  <div class="campus-list">
    <div class="campus-card" *ngFor="let campus of campuses">
      <i class="fas fa-home"></i>
      <h3>{{ campus.ten }}</h3>
      <p>
        <i class="fas fa-map-marker-alt"></i> <b>Địa chỉ:</b>
        {{ campus.diaChi }}
      </p>
      <p><i class="fas fa-phone"></i> <b>Tel:</b> {{ campus.soDienThoai }}</p>
      <p><b>Trạng thái:</b> {{ campus.trangThai }}</p>

      <button class="btn-edit" (click)="openEditCampusModal(campus)">
        Chỉnh Sửa
      </button>
    </div>
  </div>

  <nav aria-label="Page navigation" class="d-flex justify-content-center mt-4">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a
          class="page-link"
          (click)="changePage(currentPage - 1)"
          aria-label="Trước"
        >
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>

      <li
        class="page-item"
        *ngFor="let page of getPageNumbers()"
        [class.active]="page === currentPage"
      >
        <a class="page-link" (click)="changePage(page)">{{ page }}</a>
      </li>

      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a
          class="page-link"
          (click)="changePage(currentPage + 1)"
          aria-label="Sau"
        >
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>

  <!-- Thêm Cơ Sở Modal -->
  
  <div class="modal-content" *ngIf="isModalOpen">
    <div class="modal-header">
      <h2>THÊM CƠ SỞ MỚI</h2>
      <button class="close-btn" (click)="closeModal()">✕</button>
    </div>
    <div class="modal-body">
      <form [formGroup]="addCampusForm" (ngSubmit)="saveCampus()">
        <div class="form-group">
          <label>Tên Cơ Sở</label>
          <input
            id="campusName"
            formControlName="ten"
            type="text"
            placeholder="Nhập tên"
            [ngClass]="{ 'is-invalid': addCampusForm.controls.ten.invalid }"
          />
          <div class="error-message" *ngIf="addCampusForm.controls.ten.invalid && addCampusForm.controls['ten'].touched">
            <span *ngIf="addCampusForm.controls.ten.errors?.required"
              >Tên không được để trống.</span
            >
            <span *ngIf="addCampusForm.controls.ten.errors?.maxlength"
              >Tên không được quá 30 ký tự.</span
            >
          </div>
        </div>

        <!-- Dropdown chọn Tỉnh/Thành phố -->
        <div class="form-group">
          <label>Thành phố</label>
          <select
            formControlName="province"
            (change)="onProvinceChange($event.target.value)"
            [ngClass]="{ 'is-invalid': addCampusForm.controls.province.invalid && addCampusForm.controls.province.touched }"
          >
            <option value="">-- Chọn Thành phố --</option>
            <option *ngFor="let province of provinces" [value]="province.code">
              {{ province.name }}
            </option>
          </select>
          <div class="error-message" *ngIf="addCampusForm.controls.province.invalid && addCampusForm.controls.province.touched">
            <span>Vui lòng chọn Thành phố.</span>
          </div>
        </div>
        

        <!-- Dropdown chọn Quận/Huyện -->
        <div class="form-group">
          <label>Quận/Huyện</label>
          <select
            formControlName="district"
            [ngClass]="{ 'is-invalid': addCampusForm.controls.district.invalid && addCampusForm.controls.district.touched }"
          >
            <option value="">-- Chọn Quận/Huyện --</option>
            <option *ngFor="let district of districts" [value]="district.code">
              {{ district.name }}
            </option>
          </select>
          <div class="error-message" *ngIf="addCampusForm.controls.district.invalid && addCampusForm.controls.district.touched">
            <span>Vui lòng chọn Quận/Huyện.</span>
          </div>
        </div>
        
        <div class="form-group">
          <label>Địa chỉ cụ thể</label>
          <input
            formControlName="diaChi"
            type="text"
            placeholder="Nhập địa chỉ cụ thể"
            [ngClass]="{ 'is-invalid': addCampusForm.controls.diaChi.invalid && addCampusForm.controls.diaChi.touched }"
          />
          <div
            class="error-message"
            *ngIf="addCampusForm.controls.diaChi.invalid && addCampusForm.controls.diaChi.touched"
          >
            <span *ngIf="addCampusForm.controls.diaChi.errors?.required">
              Vui lòng nhập địa chỉ cụ thể.
            </span>
            <span *ngIf="addCampusForm.controls.diaChi.errors?.maxlength">
              Địa chỉ cụ thể không được quá 100 ký tự.
            </span>
          </div>
        </div>
        

        <div class="form-group">
          <label>Số điện thoại</label>
          <input
            id="campusPhone"
            formControlName="soDienThoai"
            type="tel"
            placeholder="Nhập số điện thoại"
            [ngClass]="{
              'is-invalid': addCampusForm.controls.soDienThoai.invalid
            }"
          />
          <div
            class="error-message"
            *ngIf="addCampusForm.controls.soDienThoai.invalid && addCampusForm.controls['soDienThoai'].touched"
          >
            <span *ngIf="addCampusForm.controls.soDienThoai.errors?.required"
              >Số điện thoại không được để trống.</span
            >
            <span *ngIf="addCampusForm.controls.soDienThoai.errors?.pattern"
              >Số điện thoại phải hợp lệ.</span
            >
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="save-btn">Thêm</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Edit Campus Modal -->
  
  <div class="modal-content" *ngIf="isEditModalOpen">
    <div class="modal-header">
      <h2>CHỈNH SỬA CƠ SỞ</h2>
      <button class="close-btn" (click)="closeEditModal()">✕</button>
    </div>
    <div class="modal-body">
      <form [formGroup]="editCampusForm" (ngSubmit)="updateCampus()">
        <div class="form-group">
          <label for="editCampusName">Tên Cơ Sở</label>
          <input
            id="editCampusName"
            formControlName="ten"
            type="text"
            placeholder="Nhập tên"
            [ngClass]="{ 'is-invalid': editCampusForm.controls.ten.invalid }"
          />
          <div
            class="error-message"
            *ngIf="editCampusForm.controls.ten.invalid"
          >
            <span *ngIf="editCampusForm.controls.ten.errors?.required"
              >Tên không được để trống.</span
            >
            <span *ngIf="editCampusForm.controls.ten.errors?.maxlength"
              >Tên không được quá 30 ký tự.</span
            >
          </div>
        </div>

        <!-- Dropdown chọn Tỉnh/Thành phố -->
        <div class="form-group">
          <label>Thành phố</label>
          <select
            formControlName="province"
            (change)="onProvinceChangeForEdit($event.target.value)"
            [ngClass]="{ 'is-invalid': editCampusForm.controls.province.invalid && editCampusForm.controls.province.touched }"
          >
            <option value="">-- Chọn Thành phố --</option>
            <option *ngFor="let province of provinces" [value]="province.code">
              {{ province.name }}
            </option>
          </select>
          <div class="error-message" *ngIf="editCampusForm.controls.province.invalid && editCampusForm.controls.province.touched">
            <span>Vui lòng chọn Thành phố.</span>
          </div>
        </div>
        

        <!-- Dropdown chọn Quận/Huyện -->
        <div class="form-group">
          <label>Quận/Huyện</label>
          <select
            formControlName="district"
            [ngClass]="{ 'is-invalid': editCampusForm.controls.district.invalid && editCampusForm.controls.district.touched }"
          >
            <option value="">-- Chọn Quận/Huyện --</option>
            <option *ngFor="let district of editDistricts" [value]="district.code">
              {{ district.name }}
            </option>
          </select>
          <div class="error-message" *ngIf="editCampusForm.controls.district.invalid && editCampusForm.controls.district.touched">
            <span>Vui lòng chọn Quận/Huyện.</span>
          </div>
        </div>
        

        <div class="form-group">
          <label>Địa chỉ cụ thể</label>
          <input
            formControlName="diaChi"
            type="text"
            placeholder="Nhập địa chỉ cụ thể"
            [ngClass]="{ 'is-invalid': editCampusForm.controls.diaChi.invalid }"
          />
          <div
            class="error-message"
            *ngIf="editCampusForm.controls.diaChi.invalid"
          >
            <span *ngIf="editCampusForm.controls.diaChi.errors?.required"
              >Địa chỉ không được để trống.</span
            >
            <span *ngIf="editCampusForm.controls.diaChi.errors?.maxlength"
              >Địa chỉ không được quá 100 ký tự.</span
            >
          </div>
        </div>

        <div class="form-group">
          <label for="editCampusPhone">Số điện thoại</label>
          <input
            id="editCampusPhone"
            formControlName="soDienThoai"
            type="tel"
            placeholder="Nhập số điện thoại"
            [ngClass]="{
              'is-invalid': editCampusForm.controls.soDienThoai.invalid
            }"
          />
          <div
            class="error-message"
            *ngIf="editCampusForm.controls.soDienThoai.invalid"
          >
            <span *ngIf="editCampusForm.controls.soDienThoai.errors?.required"
              >Số điện thoại không được để trống.</span
            >
            <span *ngIf="editCampusForm.controls.soDienThoai.errors?.pattern"
              >Số điện thoại phải hợp lệ.</span
            >
          </div>
        </div>

        <div class="modal-footer">
          <div class="toggle-container">
            <label class="toggle-switch">
              <input type="checkbox" formControlName="isActive" />
              <span class="slider"></span>
            </label>
            <span class="toggle-label">Kích Hoạt</span>
          </div>
          <button
            type="submit"
            class="apply-btn"
            [disabled]="editCampusForm.invalid"
          >
            Áp Dụng
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
