<h2>DANH SÁCH LỚP</h2>
<div class="filters">
  <input type="date" placeholder="Ngày bắt đầu" [(ngModel)]="startDate" >
  <input type="date" placeholder="Ngày kết thúc" [(ngModel)]="endDate" >
  <input type="text" placeholder="Tìm tên lớp..." [(ngModel)]="searchClass" >
</div>
<div class="class-grid">
  <div class="class-card" *ngFor="let lop of classes">
    <h3>{{ lop.tenLop }}</h3>
    <p>
      <i class="far fa-calendar-alt mr-1"></i>
      {{ lop.ngayBatDau | date:'dd/MM/yyyy' }} - {{ lop.ngayKetThuc | date:'dd/MM/yyyy' }}
    </p>
    <p>
      <i class="fas fa-stream mr-1"></i>
      <span [ngClass]="{'active': lop.trangThai === 'Hoạt động', 'inactive': lop.trangThai !== 'Hoạt động'}">
        {{ lop.trangThai }}
      </span>
    </p>
    <a [routerLink]="['/chi-tiet', lop.id]">
      Chi tiết <i class="fas fa-arrow-right"></i>
    </a>
  </div>
</div>
<div class="pagination">

</div>


