.multiline-cell {
    max-width: 200px; 
    word-wrap: break-word;
    white-space: normal;
  }
  .ngx-datatable.bootstrap .datatable-header .datatable-header-cell .datatable-header-cell-label {
    font-weight: bold;
  }
  .fonticon-size{
    padding-right: 5px;
    font-size: 20px;
}
.title{
    margin-left: 23px;
    font-size: 23px;
}
.dashline{
    border-bottom: 1px solid #a169ff;
    line-height: .1em;
}
.dashline span{
    background-color: white;
    padding-right: 5px;
}
.dashline-title{
    font-size: 15px;
    font-weight: 700;
}
.search{
    padding-left: 10px;
}