<!-- Row Details  Datatables -->
<div class="title">
    <span class="fonticon-size"><i class="ft-list"></i></span>
    <span class="card-title">Danh sách sản phẩm</span>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="dashline"> <span class="dashline-title">Tìm kiếm</span></div>
        </div>
        <div class="card col-12">
          <fieldset class="form-group search">
            <label for="ngx-filter-ref">
              <input id="ngx-filter-ref" class="form-control form-control-sm d-inline-block width-800" type="text"
                placeholder="Nhập từ khoá để tìm kiếm" (keyup)="Search($event)"/>
            </label>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
  <section id="ngx-datatable-row-details">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="dashline"> <span class="dashline-title">Danh sách</span></div>
          </div>
          <div class="card-content">
            <div class="card-body">
              <fieldset class="form-group">
              <label>Hiển thị
                <select class="form-control form-control-sm d-inline-block width-100 p-right-25 pl-4 mx-1"
                  (change)="updateLimit($event)">
                  <option *ngFor="let c of pageSizeOptions" [Value]="c">{{c}}</option>
                </select>/ {{total}} bản ghi</label>
              <label class="float-right">
                <button type="button" class="btn btn-sm btn-success mr-1 mb-1" (click)="create()"><i
                    class="fa ft-plus-circle mr-1"></i>Tạo mới</button>
              </label>
              </fieldset>
              <!-- ngx-datatable-row-details -->
              <ngx-datatable #tableRowDetails class="bootstrap core-bootstrap" [columnMode]="ColumnMode.force"
                [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="page.PageSize" [rows]="rows" [messages]="messages" 
                [externalPaging]="true"  [count]="total" [offset]="offset" (page)="setPage($event)">
                <!-- Row Detail Template -->
                <ngx-datatable-row-detail rowHeight="auto">
                  <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                    <div class="ml-5 my-1">
                      <div><strong>Sản phẩm :</strong> {{ row.name }}</div>
                      <div><strong>Phân loại công việc :</strong> {{ row.tenPhanLoaiCongViec }}</div>
                      <div><strong>Mô tả :</strong> {{ row.description }}</div>
                      <div><strong>Ngày bắt đầu :</strong> {{ row.beginTime }}</div>
                      <div><strong>Ngày kết thúc :</strong> {{ row.endTime }}</div>
                      <div><strong>Nội dung :</strong> {{ row.content }}</div>
                      <div><strong>Giai đoạn dự án :</strong> {{ row.tenGiaiDoanDuAn }}</div>
                      <div><strong>Trạng thái thực hiện :</strong> {{ row.tenTrangThaiThucHien }}</div>
                      <div><strong>Mức độ rủi ro :</strong> {{ row.tenMucDoRuiRo }}</div>
                    </div>
                  </ng-template>
                </ngx-datatable-row-detail>
                <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false"
                  [canAutoResize]="false">
                  <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                    <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded"
                      [class.datatable-icon-down]="expanded" title="Expand/Collapse Row"
                      (click)="rowDetailsToggleExpand(row)">
                    </a>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="STT" [maxWidth]="70" [sortable]="false">
                  <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                    {{getIndex(row)}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Mã sản phẩm" prop="code" [maxWidth]="120" [sortable]="false"></ngx-datatable-column>
                <ngx-datatable-column name="Tên sản phẩm" prop="name" [maxWidth]="120" [sortable]="false"></ngx-datatable-column>
                <ngx-datatable-column name="Phân loại công việc" prop="tenPhanLoaiCongViec"  [maxWidth]="140" [sortable]="false"></ngx-datatable-column>
                <ngx-datatable-column name="Mô tả" prop="description" [sortable]="false" [maxWidth]="130">
                  <ng-template ngx-datatable-cell-template let-value="value">
                    <div class="multiline-cell">{{ value }}</div>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Ngày bắt đầu" prop="beginTime" [maxWidth]="145" [sortable]="false"></ngx-datatable-column>
                <ngx-datatable-column name="Ngày kết thúc" prop="endTime" [maxWidth]="145" [sortable]="false"></ngx-datatable-column>
                <ngx-datatable-column name="Nội dung" prop="content" [sortable]="false" [maxWidth]="130">
                  <ng-template ngx-datatable-cell-template let-value="value">
                    <div class="multiline-cell">{{ value }}</div>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Giai đoạn dự án" prop="tenGiaiDoanDuAn" [maxWidth]="130" [sortable]="false"></ngx-datatable-column>
                <ngx-datatable-column name="Trạng thái thực hiện" prop="tenTrangThaiThucHien" [maxWidth]="145" [sortable]="false"></ngx-datatable-column>
                <ngx-datatable-column name="Mức độ rủi ro" prop="tenMucDoRuiRo" [maxWidth]="130" [sortable]="false"></ngx-datatable-column>
                <ngx-datatable-column name="Thao tác" [width]="70" [sortable]="false">
                  <ng-template ngx-datatable-cell-template let-row="row">
                    <i class="ft-edit text-primary cursor-pointer" (click)="update(row.id)"></i>
                    <i class="ft-trash-2 text-primary cursor-pointer mr-2" (click)="delete(row.id)"></i>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
              <!-- ngx-datatable-row-details -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>