.label-spacing {
    margin-right: 20px; /* Điều chỉnh khoảng cách tùy ý */
  }
  .hoc-vien-header {
    margin-bottom: 1rem;
  
    .form-label {
      font-size: 1.1rem;
    }
  
    .hoc-vien-dropdown {
      width: 300px;
  
      select {
        width: 100%;
      }
    }
  }
  