<div class="container-fluid">
  <h2 class="mb-3">CHỈNH SỬA LỚP HỌC</h2>

  <div class="card shadow-sm">
    <div class="card-body">
      <form [formGroup]="editLopForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <!-- Tên lớp -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="tenLop">Tên Lớp</label>
              <input type="text" class="form-control" [value]="editLopForm.get('tenLop')?.value" readonly />

            </div>
            
            
          </div>

          <!-- Chương trình học -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="chuongTrinh">Chương Trình Học</label>
              <input type="text" class="form-control" [value]="editLopForm.get('chuongTrinh')?.value?.tieuDe" readonly />
            </div>
          </div>

          
          
        </div>

        <div class="row">
          <!-- Học phí -->
          <div class="col-md-3">
            <div class="form-group">
              <label for="hocPhi">Học Phí</label>
              <input type="text" class="form-control" [value]="editLopForm.get('hocPhi')?.value" readonly />
              
              
            </div>
          </div>

          <!-- Giáo viên -->
          <div class="col-md-3">
            <div class="form-group">
              <label for="giaoVien">Giáo Viên</label>
              <input type="text" class="form-control" [value]="editLopForm.get('giaoVien')?.value?.codeTen" readonly />

             
            </div>
          </div>

          <!-- Ngày bắt đầu -->
          <div class="col-md-3">
            <div class="form-group">
              <label for="ngayBatDau">Ngày Bắt Đầu</label>
              <input type="date" class="form-control" [value]="editLopForm.get('ngayBatDau')?.value" readonly />


              
            </div>
           
          </div>

          <!-- Ngày kết thúc -->
          <div class="col-md-3">
            <div class="form-group">
              <label for="ngayKetThuc">Ngày Kết Thúc</label>
              <input type="date" class="form-control" [value]="editLopForm.get('ngayKetThuc')?.value" readonly />
              
            </div>
          </div>
        </div>

        <!-- Lịch học trong tuần -->
        <div class="mt-3">
          <label class="form-label fw-bold">Lịch Học Trong Tuần</label>
        </div>

        <div formArrayName="lichHoc">
          <div class="form-group row align-items-center" *ngFor="let schedule of lichHoc.controls; let i = index" [formGroupName]="i">
            <div class="col-md-3 mb-2">
              <label for="Chonthutrongtuan">Thứ trong tuần</label>
              <input type="text" class="form-control" [value]="'Thứ ' + schedule.get('thu')?.value" readonly />

              <!-- <select class="form-control" formControlName="thu">
                
                <option value="" selected>Chọn thứ trong tuần</option>
                <option value="2">Thứ hai</option>
                <option value="3">Thứ ba</option>
                <option value="4">Thứ tư</option>
                <option value="5">Thứ năm</option>
                <option value="6">Thứ sáu</option>
                <option value="7">Thứ bảy</option>
                <option value="8">Chủ nhật</option>
              </select> -->
              
            </div>

            <div class="col-md-2 mb-2">
              <label for="gioBatDau">Giờ bắt đầu</label>
              <input type="time" class="form-control" [value]="schedule.get('gioBatDau')?.value" readonly />
              
            </div>

            <div class="col-md-2 mb-2">
              <label for="gioKetThuc">Giờ kết thúc</label>
              <input type="time" class="form-control" [value]="schedule.get('gioKetThuc')?.value" readonly />
              
            </div>
            <!-- Phòng -->
          <div class="col-md-2 mb-2">
            
              <label for="phong">Phòng</label>
              <input type="text" class="form-control" [value]="schedule.get('phong')?.value?.ten" readonly />

              
              
            
          </div>
            

            
        </div>

          
        </div>

        <!-- Nút Hủy & Xác Nhận -->
        <div class="d-flex justify-content-end mt-4">
          <button class="btn btn-danger ms-2" (click)="onCancel()">Hủy</button>
          <button class="btn btn-success" type="submit">Xác Nhận</button>
        </div>
      </form>
    </div>
  </div>
</div>
