<div class="change-password-container">
  <div class="change-password-card">
    <div class="change-password-content">
     
      <img src="/assets/img/gallery/chgpwd2.jpg" alt="Change Password Icon" class="icon1" />
      
      <div class="change-password-form">
        <img src="/assets/img/gallery/chgpwd.jpg" alt="New Image" class="icon2" />
        <h2>ĐỔI MẬT KHẨU</h2>
        <form (ngSubmit)="onChangePassword()">
          <div class="input-group">
            <input type="password" placeholder="Mật khẩu cũ" [(ngModel)]="currentPassword" name="currentPassword" required />
            <span class="eye-icon" (click)="togglePassword('currentPassword')">👁</span>
          </div>

          <div class="input-group">
            <input type="password" placeholder="Mật khẩu mới" [(ngModel)]="newPassword" name="newPassword" required />
            <span class="eye-icon" (click)="togglePassword('newPassword')">👁</span>
          </div>

          <div class="input-group">
            <input type="password" placeholder="Xác nhận mật khẩu" [(ngModel)]="confirmPassword" name="confirmPassword" required />
            <span class="eye-icon" (click)="togglePassword('confirmPassword')">👁</span>
          </div>

          <div class="button-group">
            <button type="submit" class="btn save">LƯU</button>
            <button type="button" class="btn cancel">HỦY</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
