<mat-dialog-content class="back-ground">
    <h4 class="dispaly-4">Thêm mới loại nhân sự</h4>
    <hr>
    <form [formGroup]="formLoaiNhansu" autocapitalize="off" (submit)="createLoaiNhansu()">
        <input type="hidden" formControlName="id">

        <div class="form-group">
            <label>Mã loại nhân sự
                <span class="field-required-asterisk ng-star-inserted">(*)</span>
            </label>
            <input class="form-control" formControlName="code">
            <label class="text-danger"
                *ngIf="formLoaiNhansu.get('code').touched && formLoaiNhansu.get('code').hasError('minlength')">
                Mã loại nhân sự phải có ít nhất 3 ký tự
            </label>
            <label class="text-danger"
                *ngIf="formLoaiNhansu.get('code').touched && formLoaiNhansu.get('code').hasError('required')">
                Tham số bắt buộc
            </label>
            <label class="text-danger" *ngIf="formLoaiNhansu.get('code').touched && formLoaiNhansu.get('code').hasError('pattern') 
                && !formLoaiNhansu.get('code').hasError('minlength')">
                Có ký tự không phù hợp (có chứa các ký tự đặc biệt).
                Mã loại nhân sự chỉ bao gồm các ký tự số, chữ không dấu, dấu gạch dưới(_) hoặc gạch ngang(-)
            </label>
        </div>
        <div class="form-group">
            <label>Tên loại nhân sự
                <span class="field-required-asterisk ng-star-inserted">(*)</span>
            </label>
            <input class="form-control" formControlName="name">
            <label class="text-danger"
                *ngIf="formLoaiNhansu.get('name').touched && formLoaiNhansu.get('name').hasError('minlength')">
                Mã loại nhân sự phải có ít nhất 3 ký tự
            </label>
            <label class="text-danger"
                *ngIf="formLoaiNhansu.get('name').touched && formLoaiNhansu.get('name').hasError('required')">
                Tham số bắt buộc
            </label>
            <label class="text-danger" *ngIf="formLoaiNhansu.get('name').touched && formLoaiNhansu.get('name').hasError('pattern') 
                && !formLoaiNhansu.get('name').hasError('minlength')">
                Có ký tự không phù hợp (có chứa các ký tự đặc biệt).
                Mã loại nhân sự chỉ bao gồm các ký tự số, chữ không dấu, dấu gạch dưới(_) hoặc gạch ngang(-)
            </label>
        </div>
        <div class="form-group">
            <label>Trạng thái
                <span class="field-required-asterisk ng-star-inserted">(*)</span>
            </label>
            <select  class="form-control" formControlName="status">
                <option value="Hoạt động">Hoạt động</option>
                <option value="Không hoạt động">Không Hoạt động</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-dark" [disabled]="!formLoaiNhansu.valid"><i class="fa fa-database"></i>Lưu</button>
            <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i
                    class="fa fa-close"></i>Đóng</button>
        </div>
    </form>
</mat-dialog-content>