<h2>DANH SÁCH LỚP</h2>
<div class="filters">
  <input class="search" type="text" placeholder="Tìm tên lớp..." [(ngModel)]="searchClass" (input)="searchClasses()">
</div>
<div class="class-grid">
  <div class="class-card" *ngFor="let lop of classes">
    <h3>{{ lop.tenLop }}</h3>
    <p>
      <i class="far fa-calendar-alt mr-1"></i>
      {{ lop.ngayBatDau | date:'dd/MM/yyyy' }} - {{ lop.ngayKetThuc | date:'dd/MM/yyyy' }}
    </p>
    <p>
      <i class="fas fa-stream mr-1"></i>
      <span [ngClass]="{
            'pending': lop.status === 'Chưa bắt đầu', 
            'active': lop.status === 'Đang hoạt động', 
            'inactive': lop.status === 'Kết thúc'
          }">
        {{ lop.status }}
      </span>
    </p>
    <a (click)="goToDetail(lop.tenLop)" >
      Chi tiết <i class="fas fa-sign-out-alt"></i>
    </a>
  </div>
</div>

<nav aria-label="Page navigation" class="d-flex justify-content-center mt-4">
  <ul class="pagination">
    <li class="page-item" [class.disabled]="pageNumber === 1">
      <a class="page-link" (click)="changePage(pageNumber - 1)" aria-label="Trước">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

    <li class="page-item" *ngFor="let page of getPageNumbers()" [class.active]="page === currentPage">
      <a class="page-link" (click)="changePage(page)">{{ page }}</a>
    </li>

    <li class="page-item" [class.disabled]="pageNumber === totalPages">
      <a class="page-link" (click)="changePage(pageNumber + 1)" aria-label="Sau">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

